<%- include('./partials/header.ejs') %>
<div class="container mt-5">
    <h1 class="text-white">Home Page</h1>
    <p class="text-white">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat quibusdam hic, delectus maxime sint libero fuga saepe. Magni alias fugit, aliquam eos explicabo nemo id eaque. Cum fuga adipisci minima fugit minus velit deserunt doloribus, omnis, impedit, porro cumque corporis.</p>
</div>
<%- include('./partials/footer.ejs') %>
    
